* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
}

.sidebar {
  width: 250px;
  height: 10000px;
  background: orange;
  color: white;
  font-weight: 800; 
  padding-top: 50px
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__header .sidebar__logo a {
  height: 100%;
  margin: 5px 0 5px 15px;
  padding: 0;
  cursor: pointer;
}
.sidebar__header .sidebar__logo a img {
  width: 100px;
}
.sidebar__header .sidebar__toggle i {
  margin-right: 15px;
  cursor: pointer;
}
.sidebar__list {
  height: 100vh;
}
.sidebar__list ul li {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  padding-top: 15px;
  cursor: pointer;
  line-height: 40px;
  transition: 0.5s;
}
.sidebar__list ul li:hover {
  background: rgba(65, 236, 255, 0.36);
  font-size: 17px;
}
.sidebar__list ul li:hover a {
  opacity: 1;
}
.sidebar__list ul li a {
  text-decoration: none;
  padding-left: 25px;
  color: white;
  font-size: 17px;
  opacity: 0.7;
  display: inline-block;
}
.sidebar__list ul li a i {
  margin-right: 15px;
}

.center {
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.center__header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 10;
}
.center__header .header__searchBar i {
  width: 60px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 20px;
  z-index: 1;
}
.center__header .header__searchBar input {
  position: absolute;
  top: 16px;
  width: 100%;
  padding-left: 65px;
  font-size: 20px;
  border: none;
  outline: none;
  opacity: 0.7;
  z-index: 0;
}
.center__header .header__profile {
  padding-right: 30px;
}
.center__header .header__profile .profile__picture {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}
.center__header .header__profile .profile__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.center__header .header__profile .profile__menu {
  position: absolute;
  top: 60px;
  right: 19px;
  padding: 5px 0px;
  background: white;
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
.center__header .header__profile .profile__menu.active {
  visibility: visible;
  opacity: 1;
}
.center__header .header__profile .profile__menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 33.5px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}
.center__header .header__profile .profile__menu h3 {
  margin: 15px 10px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  line-height: 1.5;
}
.center__header .header__profile .profile__menu h3 span {
  font-size: 16px;
  color: #cecece;
  font-weight: 400;
}
.center__header .header__profile .profile__menu ul {
  padding-left: 0;
}
.center__header .header__profile .profile__menu ul li {
  list-style: none;
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.center__header .header__profile .profile__menu ul li a {
  margin-left: 35px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
  display: flex;
  align-items: center;
  opacity: 0.5;
  width: 120px;
}
.center__header .header__profile .profile__menu ul li a i {
  font-size: 25px;
  margin-right: 10px;
  opacity: 0.25;
  transition: 0.5s;
}
.center__header .header__profile .profile__menu ul li a:hover i {
  opacity: 1;
}
.center__header .header__profile .profile__menu ul li:hover a {
  color: #555;
  opacity: 1;
}
.center .center__tittle {
  border-bottom: 1px solid black;
  width: 100%;
}
.center .center__tittle h4 {
  font-size: 30px;
  padding-left: 30px;
}
.center .center__course {
  padding: 10px 30px;
  width: 100%;
  display: inline-block;
  flex-wrap: wrap;
}
.center .center__course ul {
  margin-left: 30px;
}
.center .center__course ul li {
  margin-top: 15px;
  margin-right: 30px;
  display: inline-block;
}
.center .center__course ul li .course__list {
  width: 550px;
  border: 3px solid black;
  border-radius: 20px;
  background: orange;
  margin-top: 20px;
  overflow: hidden;
}
.center .center__course ul li .course__list .course__header {
  border-bottom: 1px solid black;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px;
}
.center .center__course ul li .course__list .course__header h2, .center .center__course ul li .course__list .course__header h3 {
  margin: 0px 20px;
}
.center .center__course ul li .course__list .course__header h2 a, .center .center__course ul li .course__list .course__header h3 a {
  color: black;
  transition: 0.7s;
}
.center .center__course ul li .course__list .course__header h2 a:hover, .center .center__course ul li .course__list .course__header h3 a:hover {
  text-decoration: underline;
}
.center .center__course ul li .course__list .course__header h2 {
  padding-top: 0;
  font-size: 20px;
}
.center .center__course ul li .course__list .course__header h3 {
  font-size: 15px;
  color: white;
}
.center .center__course ul li .course__list .course__header a {
  text-decoration: none;
}
.center .center__course ul li .course__list .course__center {
  border: 1px solid black;
  margin: 0px 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 15px 20px;
  border-radius: 10px;
  background: white;
}
.center .center__course ul li .course__list .course__footer {
  display: flex;
  justify-content: space-between;
  margin: 5px 4.5%;
  font-size: 20px;
  color: white;
}
.center .center__course ul li .course__list .course__footer span {
  font-weight: bold;
}
.center__categories {
  border-bottom: 1px solid black;
}
.center__categories ul {
  margin-left: 10px;
}
.center__categories ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.5s;
}
.center__categories ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  opacity: 0.5;
}
.center__categories ul li:hover a {
  opacity: 1;
}
.center__content {
  margin: 15px 30px;
}
.center__content .content__date {
  padding: 15px 30px;
  margin-right: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.center__content .content__date ul {
  margin-top: 20px;
}
.center__content .content__date ul li {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 30px;
  line-height: 40px;
  margin: 5px 20px;
}
.center__content .content__description {
  margin-top: 30px;
}
.center__content .content__description h3 {
  font-size: 25px;
}
.center__content .content__description p {
  margin: 20px;
}
.center__content .content__description h4 {
  margin: 10px;
}

/*# sourceMappingURL=dashboard.css.map */
