//hw frame color
$main-color: rgb(231, 83, 83);
$sidebar-color: rgba(243, 232, 232, 0.666);
$hover-color: rgba(51, 17, 245, 0.741);

//Login form color:
$color1: #dc2b2b;
$color2: #e9f4fb;
$color3: #adadad;