<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/Problem/problem.css">
    <link rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/tab__logo.png"/>
    <script src = "src/problem.js"></script>
    <title>Problem | Quizzery</title>
</head>
<body>
    <!-- sidebar -->
    <div class="sidebar">
        <div class="sidebar__header">
            <div class="sidebar__logo">
                <a href = "problem.html">
                    <img src = "images/logo.png">
                </a>
            </div>
            <div class="sidebar__toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>



        <div class="sidebar__list">
            <ul>
                <li>
                    <a href = "lesson.html"><i class="fas fa-pen"></i>Lesson</a>
                </li>
                <li>
                    <a><i class="fa fa-tasks"></i>Homework</a>
                </li>
                <li>
                    <a><i class="fas fa-calendar-alt"></i>Schedule</a>
                </li>
                <li>
                    <a><i class="fas fa-concierge-bell"></i>Attendance</a>
                </li>
                
            </ul>
        </div>
    </div>

    <!-- main-content -->
    <div class="center">
        <div class="center__header">
            <div class="header__searchBar">
                <i class="fas fa-search"></i>
                <input type = "text" placeholder = "Search....">
            </div>

            <div class="header__profile">
                <div class="profile__picture" onCLick = "menuToggle();">
                    <img src = "images/My profile Pics.jpg">
                </div>
                <div class="profile__menu">
                    <h3>Alex Pham<br></h3>
                    <ul>
                        <li> 
                            <a href = "#"><i class="fas fa-user-circle"></i>Profile</a>
                        </li>
                        <li> 
                            <a href = "#"><i class="fas fa-inbox"></i>Inbox</a>
                        </li>
                        <li> 
                            <a href = "#"><i class="fas fa-question-circle"></i>Help</a>
                        </li>
                        <li> 
                            <a href = "#"><i class="fas fa-cog"></i>Setting</a>
                        </li>
                        <li> 
                            <a href = "loginForm.html"><i class="fas fa-sign-out-alt"></i>Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div class="center__title">
            <h3>C4EJS - Session 1 - Homework</h3>
        </div>
        <div class="center__categories">
            <ul>
                <li><a href = "#">Description</a></li>
                <li><a href = "#">Result</a></li>
                <li><a href = "#">Submit</a></li>
            </ul>
        </div>

        <!-- <div class="center__content">
            <div class="content__date">
                <ul>
                    <li class = "date--set"><label >Set on Wed 7 July</label></li>
                    <li class = "date--deadline"><label >Due on Mon 12 July</label></li>
                </ul>
            </div>

            <div class="content__description">
                <h3>Task description</h3>
                <p>[Homework] - Session 4<br>
                    Kiến thức:<br> 
                    - Nâng cao về Array: Spread Operator, Tham trị, Cách sao chép array, ...<br>
                    - Kiểu dữ liệu Object<br>
                    - Sử dụng for-in với Object<br>
                    - Các thao tác CRUD với Object<br><br></p>
                <h4>Please submit your homework online and on-time</h4>
            </div>

        </div> -->
    </div>
</body>
</html