<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/profile/profile.css">
    <link rel="stylesheet" type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/tab__logo.png"/>
    <title>Alex Pham | Quizzery</title>
</head>
<body>
    <div class="main-content">
        <div class="main-content--header">
            <nav>
                <div class="navbar__logo">
                    <a href="dashboard.html" class="logo--link">
                        <img src = "images/logo.png">
                    </a>
                </div>
                <div class="navbar__input">
                    <div class="input--searchBar">
                        <i class="fas fa-search"></i>
                        <input type = "text" placeholder = "Search">
                    </div>
                    
                    <div class="input--avatar">
                        <img src = "images/avatar.jpg">
                    </div>                      
                </div>
            </nav>
            <!-- header -->
            <div class="header">
                <span class = "header__mask"></span>
                <div class="header__container">
                    <h1>Hello Alex, </h1>
                    <p>This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                    <button href = "#!">Edit profile</button>
                </div>
            </div>
        </div>
        
        <div class="main-content__account">
            <!-- user-profile overall  -->
            <div class="user-profile__overall">
                <form class = "overall__form">
                    <div class="overall__header">
                        <img src = "images/avatar.jpg"> 
                    </div>

                    <div class="overall__content">

                        <div class="content__name-age">
                            <div class="content--name">                
                                <label>Alex Pham</label>                         
                            </div>

                            <div class="content--age">
                                <label>, 20</label>
                            </div>
                        </div>

                        <div class="content__location">
                            <div class="location">
                                <label>Hanoi, Vietnam</label>
                            </div>
                        </div>
                        <div class="content__work">
                            <div class="content__job">
                                <h5>International student</h5>
                            </div>
                            
                            <div class="content__school">
                                <h6>Watson for Egineering school - Binghamton University</h6>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- user profile detail  -->
            <div class="user-profile__detail">
                <form class = "detail__form">
                    <div class="detail__header">
                        <label>My account</label>
                        <button>Settings</button>
                    </div>
                    <div class="detail__information">
                        <div class="detail__card">
                            <div class="card--header">
                                <h3>User information</h3>
                            </div>
                            <div class="card--content">
                                <div class="content--row">
                                    <div class="content--name">
                                        <label>Username</label>
                                        <input type = "text" value = "dpham4" placeholder = "Username">
                                    </div>
                                    <div class="content--name">
                                        <label>Email address</label> 
                                        <input type = "text" value = "dpham4@binghamton.edu" placeholder = "abcd@gmail.com">
                                    </div>
                                </div>
                                <div class="content--row">
                                    <div class="content--name">
                                        <label>First name</label> 
                                        <input type = "text" value = "Alex" placeholder = "First name">
                                    </div>
                                    <div class="content--name">
                                        <label>Last name</label> 
                                        <input type = "text" value = "Pham" placeholder = "Last name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class = "detail__border"></span> 
                        <div class="detail__card">
                            <div class="card--header">
                                <h3>Contact information</h3>
                            </div>
                            <div class="card--content">
                                <div class="content--row">
                                    <div class="content--name" id = "content-address">
                                        <label>Address</label>
                                        <input type = "text" value = "dpham4" placeholder = "Username">
                                    </div>
                                </div>
                                <div class="content--row" id = "content--location">
                                    <div class="content--name">
                                        <label>City</label> 
                                        <input type = "text" value = "Hanoi" placeholder = "City">
                                    </div>
                                    <div class="content--name">
                                        <label>Country</label> 
                                        <input type = "text" value = "Vietnam" placeholder = "Country">
                                    </div>
                                    <div class="content--name">
                                        <label>Postal code</label> 
                                        <input type = "text" value = "" placeholder = "Postal code">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class = "detail__border"></span> 

                        <div class="detail__card">
                            <div class="card--header">
                                <h3>My description</h3>
                            </div>
                            <div class="card--content">
                                <div class="content--row">
                                    <div class="content--name" id = "content-address">
                                        <label>About me</label>
                                        <input id = "description" type = "text" value = "" placeholder = "A few words about you...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>       
            </div>
        </div>
    </div>
</body>
</html